<!--- Some shit up here -->
<form #test="ngForm" novalidate>
  <div>
    <label>Title</label>
    <input type="text" required name="title" [(ngModel)]="title" #myTitle="ngModel">
    <small [hidden]="myTitle.valid">
      Title is required.
    </small>
    <br>
    <label>Board Game Geek Link</label>
    <input type="text" name="bggLink" [(ngModel)]="bggLink" #myBggLink="ngModel">
    <small [hidden]="myBggLink.valid">
      Title is required.
    </small>
    
  </div>  
  <button type="submit">Add Board Game</button>
</form>